<!DOCTYPE html>
<html lang="en">
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/bootstrap.css" />
  </head>
  <body><div class="container">
    <header class="jumbotron subhead" id="overview">
    <h1>Final Project</h1>
    <ul class="breadcrumb">
      <li><a href="/">All Categories</a><span class="divider">/</span></li>
      <li><a href="/new">Add New Category</a><span class="divider">/</span></li>
      <li><a href="/results">All Results</a></li>
    </ul>
    </header>
    {% if error %}
      <p class="text-error">{{ error }}</p>
    {% else %}
    <div class="page-header">
      <h3>Edit</h3>
    </div>
      <h3>{{ category.name }}:</h3>
      {% for item in category.items %}
        <blockquote>{{ item.content }} - 
          <a href="/delete/{{ item.key.id }}"><i>delete</i></a></blockquote> 
      {% endfor %}

      <b>Enter a new Item:</b>
      <form action="/edit" method="post">
        <div><input type="hidden" name="category_id" value="{{ category.key.id }}"></div>
        <div><input type="text" class="input-xlarge" name="item"></div>
        <div><button type="submit" class="btn btn-primary">Add Item</div>
      </form>
    {% endif %}

   <a href="{{ url }}">{{ url_linktext }}</a>

  </div>
  </body>
</html>